<!DOCTYPE html>
<html lang="en">

<head>
  <title>IoT Express</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="s.css" />
</head>

<body class="topLevel">

  <div id="deviceList">
    <div>
      <span class="h3">
        Devices <span class="badge badge-primary">{{deviceStatus.Total}} registered</span>
        <span class="badge badge-success">{{deviceStatus.Connected}} connected</span>
        <span class="badge badge-dark">{{deviceStatus.Disconnected}} disconnected</span>
      </span>

    </div>
    <div class="alert alert-secondary elbowRoom">
      Monitoring Azure IoT Hub <b>{{hub}}</b>.
      <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="collapse"
        data-target="#formConnectionString" aria-expanded="false" aria-controls="collapseExample">
        Change Hub
      </button>

      <span v-if="devices.length > 0" style="float: right;">
        Enable Automatic Refresh
        <input name="autoRefresh" id="autoRefresh" type="checkbox" v-on:click="toggleAutoRefresh" />
        <span v-show="refreshEnabled">
          <span id="nextRefresh" v-on:click="updateRefresh">
            Next refresh in {{elapsed}} s.
          </span>
        </span>
      </span>
      <div class="collapse" id="formConnectionString">
        <div class="form-group elbowRoom">
          <form action="/api/connection-string" method="POST" id="form">
            <input id="connectionstring" name="connectionstring" onfocus="if (this.value.length < 5) this.value=''"
              type="text" value="" size="80" />
            <button type="button" class="btn btn-outline-primary btn-sm" v-on:click="postConnectionString">Set
              connection string</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid" v-cloak>
      <span class="spinner-border text-info" role="status" v-if="loading">
        <span class="sr-only">Loading...</span>
      </span>
      <div id="results" v-if="!loading">
        <div v-if="devices.length > 0">
          <span>Sort by:</span>
          <a class="btn btn-outline-primary" v-on:click="sortBy('id')">Id</a>
          <a class="btn btn-outline-primary" v-on:click="sortBy('state')">State</a>
          <a class="btn btn-outline-primary" v-on:click="sortBy('lastActivityTime')">Last connected</a>
        </div>
        <div class="row align-items-start">
          <div :id="device.deviceId" class="col-auto card elbowRoom mw-75" v-for="device in devices">
            <center>
              <div class="card-title h4">{{device.id}}</div>
              <div class="card-title h5">{{device.modelId}}</div>
              <img class="card-img-top" src="icon-iot-hub.svg" style="width:100px; height:150px" />
            </center>
            <div class="card-body">
              <a role="button" class="btn" v-bind:class="{
                                        'btn-success': device.state === 'Connected',
                                        'btn-secondary': device.state === 'Disconnected'}"
                v-bind:href="'pnp.html?deviceId=' + device.id">Details</a>

              <div class="card-text">{{device.state}} {{device.time}}</div>
            </div> <!-- card -->
          </div> <!-- for devices -->
        </div>
      </div>
    </div>
    <!-- Modal -->
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="index.js"></script>
</body>

</html>