body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 75px;
  }  

  .flex-50perc {
    min-width: 700px ;
    min-height: 500px;
  }

  .superBig {
    font-size: 50pt;
    margin: 5px;
    cursor:pointer;
  }

  .bigNumber {
    font: 30pt Arial
  }