<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Device View</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/moment"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" type="text/javascript"
    charset="utf-8"></script>
  <link href="s.css" rel="stylesheet" />
</head>

<body>
  <div id="errorMsg"></div>
  <div id="app" class="container" v-cloak>
    <h1>{{ deviceId }}</h1>
    <span>{{ modelId }}</span>

    <div v-if="reportedProps.length>0">
      <h4>Reported Properties
        <i>version: {{ reportedProps.version }}</i>
      </h4>

      <div v-for="repProp in reportedProps" class="tile-container">
        <div class="tile">
          <div class="tile-num-big">
            {{ repProp.reportedValue }}
          </div>
          <div class="tile-name">{{ repProp.name }}</div>
          <div class="tile-caption">last updated: {{ repProp.lastUpdated }}</div>
        </div>
      </div>

      <div v-if="desiredProps.length>0">
        <h4>Desired Properties
          <i>version: {{ desiredProps.version }}</i>
        </h4>
        <div v-for="desProp in desiredProps">
          <div>
            <span>{{ desProp.name }} ({{ desProp.schema }})</span>
            <input type="text" v-bind:id="desProp.name" v-bind:value="desProp.desiredValue" />
            <button v-on:click="updateDesiredProp(desProp.name)">Update Prop</button>
          </div>
        </div>
      </div>

      <div v-if="commands.length>0">
        <h4>Commands</h4>
        <div v-for="cmd in commands">
          <div>{{ cmd.request.name}}</div>
          <input type="text" v-bind:id="cmd.name + '-payload'" v-bind:placeholder="cmd.request.schema" />
          <button v-on:click="runCommand(cmd.name)">{{ cmd.name }}</button>
          <pre v-bind:id="cmd.name + '-response'"></pre>
        </div>
      </div>
    </div>

    <div class="chart">
      <canvas id="iotChart"></canvas>
    </div>



    <script src="pnp.js" type="module"></script>

</body>

</html>