body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[v-cloak] {
  display:none;
}

.chart {
  position: absolute;
  top: 130px;
  left: 600px;
  height: 70vh;
  width: 50vw;
  border: 2px solid silver;
}

.elbowRoom {
  margin: 10px;
}

.tile {
  padding: 10px;
  width: min-content;
  background-color: cornflowerblue;
  color: white;
  text-align: right;
  flex-direction: column;
}

.tile-container {
  padding: 5px;
  display: flex;

}

.tile-num-big {
  font-size: 46px;
}

.tile-name {
  font-size: large;
  font-weight: bold;
}

.tile-caption {
  font-size: small;
}
